*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-footet-color:#122B42;
    --body-color: #b5b5b5;
}
body{
    height: 100vh;
    background-color: var(--body-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footet-color);
    width: 100%;
    height: auto;
}
.logo{
    justify-content: center;
    width: 100%;
    max-width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
}


.nav{
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}
.nav-btn{
    justify-content: center;
    padding: 1em;
    /* margin-right: 1em; */
    border-radius: 0.5em;
    background-color: beige;
    color: var(--header-footet-color);
    font-size: 1em;
    text-decoration-line: underline;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.nav-btn:hover{
    background-color: var(--header-footet-color);
    color: white;
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(253, 253, 253, 0.6)
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    
}


.cards .wrapper{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-between; */
}
.cards .wrapper .card {
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(14, 14, 14);
    margin-bottom: 4em;
    border: 2px solid var(--header-footet-color);
    border-radius: 0.5em;
    text-align: center;
}
.hero-image{
    width: 100%;
    /* max-width: 1000px; */
    margin-bottom: 0.5em;
    
}
.boka-btn{
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: beige;
    color: var(--header-footet-color);
    font-size: 1em;
    text-decoration-line: none;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.boka-btn:hover{
    background-color: var(--header-footet-color);
    color:white;
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(253, 253, 253, 0.6)
}

.conf-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
    width: 100%;
}
.conf-image{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    flex: 1 1 45%;
}
h2{
    color: var(--header-footet-color);
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.sem-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.seminarium {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    border: 2px solid var(--header-footet-color);
    border-radius: 0.5em;
    text-align: center;
    background-color: beige;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.3);
}
.sem-title{
    color: var(--header-footet-color);
    text-decoration: underline;
    padding: 0.4em;
}
.sem-text{
    padding: 0.4em;
    color:var(--header-footet-color);
}
.kalender{
    background-color: beige;
    border: 2px solid var(--header-footet-color);
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 2.5em;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.3);

    h2{
        text-align: center;
    }

    .dag-rubrik{
        color: var(--header-footet-color);
        text-decoration: underline;
        margin-bottom: 0.5em;
        text-align: center;
    }
    .dag{
       padding: 0.5em;
    }
}



















footer{
    display: flex;
    flex-direction: row;
    height: 1000px;
    background-color: var(--header-footet-color);
    color: var(--body-color);
    justify-content: center;
    align-items: center;
}
.footer-links{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-links .foot-nav{
    display: flex;
    flex-direction: column;
}
.footer-links .foot-nav .link{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5em;
}
 .sociala-medier{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }