*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-footer-color:#122B42;
    --body-color: #f1f1f1;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(images/bakgrund.png);
    background-color: var(--body-color);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-footer-color);
    width: 100%;
    height: auto;
}
.logo{
    justify-content: center;
    width: 100%;
    max-width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.cards .wrapper{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.cards .wrapper .card {
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(14, 14, 14);
    margin-bottom: 4em;
    border: 2px solid var(--header-footer-color);
    border-radius: 0.5em;
    text-align: center;
    background-color: white;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.3);
    margin-top: 2em;

    &:hover{
        box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.616);
    }
}
.hero-image{
    width: 100%;
    margin-bottom: 0.5em;
}
.boka-btn{
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    background-color: var(--header-footer-color);
    color: white;
    font-size: 1em;
    text-decoration-line: none;
    box-shadow:0.5em 0.5em 1em rgba(0,0,0,0.3);
}
.boka-btn:hover{
    background-color: var(--header-footer-color);
    color:white;
    cursor: pointer;
    box-shadow:0.5em 0.5em 1em rgba(0, 0, 0, 0.604);
}

.conf-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
    width: 100%;
}
.conf-image{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    flex: 1 1 45%;

    &:hover{
        box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.616);
    }
}
h1{
    color: var(--header-footer-color);
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.sem-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2em;
}
.seminarium {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1em; */
    border: 2px solid var(--header-footer-color);
    border-radius: 0.5em;
    text-align: center;
    background-color: beige;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.3);
    margin-bottom: 1em;
      
    &:hover{
        box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.616);
    }
}

.sem-box{
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.2);

    &:hover{
        box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.616);
    }
}
.sem-title{
    color: var(--header-footer-color);
    text-decoration: underline;
    padding: 0.4em;
}
.sem-text{
    padding: 0.4em;
    color:var(--header-footer-color);
}
h2 , h3{
    text-align: center;
    color: var(--header-footer-color);
    text-decoration: underline;
}


.kalender{
    background-color: beige;
    border: 2px solid var(--header-footer-color);
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 2.5em;
    box-shadow: 0.5em 0.5em 1em rgba(0,0,0,0.3);

    &:hover{
        box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.616);
    }
    h3{
        font-size: x-large;
        color: var(--header-footer-color);
    }
    h4{
        font-size: large;
        margin-bottom: 0.5em;
    }

    .dag-rubrik{
        color: var(--header-footer-color);
        text-decoration: underline;
        margin-bottom: 0.5em;
        text-align: center;
    }
    .dag{
    padding: 0.5em;
    }

    .dagar{
        padding: 1.5em;
        color: var(--header-footer-color);
        margin-bottom: 1em;
        padding: 0.5em;
        border-radius: 0.5em;
    }
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    color: white;
    background-color: var(--header-footer-color);
    padding: 2em 1em;
    margin: 1em 0 0 0;

    bottom: 0;
}

.foot-nav .link{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    margin-bottom: 0.5em;
    font-size: larger;

    &:hover{
        text-decoration: underline;
    }
}



















 