*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-footet-color:#122B42;
    --body-color: #d9d9d9;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    font-family: sans-serif;
    
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footet-color);
    width: 100%;
    height: auto;
}
.logo{
    width: 100%;
    max-width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}
.nav-btn{
    display: flex;
    flex-shrink: 1;
    padding: 1em;
    margin-right: 1em;
    border-radius: 0.5em;
    background-color: var(--body-color);
    color: var(--header-footet-color);
    font-size: 1em;
    text-decoration-line: underline;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.nav-btn:hover{
    background-color: var(--header-footet-color);
    color: var(--body-color);
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(253, 253, 253, 0.6)
}
.cards{
    display: flex;
    justify-content: center;
}
.cards .wrapper{
    /* max-width: 1000px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.cards .wrapper .card {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    color: rgb(14, 14, 14);
    margin-bottom: 4em;
    border: 2px solid var(--header-footet-color);
    border-radius: 0.5em;
    text-align: center;
}
.hero-image{
    width: 100%;
    max-width: 1000px;
    margin-bottom: 0.5em;
}